# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
* Popular Languages in Data Science
* Libraries in Data Science
* Data Sceince tools
* Examples of Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. TensorFlow

| Data Sceince Tools |
---------------------
| Anaconda |
| Visual Studio Code |
|Jupyter NoteBook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2+3

5

In [2]:
2+3*5

17

In [3]:
3*4/2

6.0

In [4]:
6-4+15/3

7.0

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
minutes = 200%60
print(hours)
print(minutes)

3
20

## Author
Deepak Misra

https://github.com/deepak87training/Coursera_IBMDataScience_DeepakMisra.git